
body {
    background-color: darkgrey;
}

p {
    color: dimgray;
}

.work {
    height: 480px;
    width: 280px;
    margin: 0 auto 0 auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: aliceblue;
}


.qr {
    width: 250px;
    margin-left: 1rem;
    padding-top: 10px;
    border-radius: 20px;
}

.text {
    width: 85%;
    margin: 0 auto 0 auto;
    text-align: center;
}